/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #e6e6e6;
    /*background-color: #f1f1f1;*/
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    width:50%;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #f1f1f1;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #80d9ff;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

#tabs-container {

}


p {
	text-align: justify;
  	color: black;
}

#heading-container {
	margin-top: 30px;
	margin-bottom: 30px;
}

#content-container {
	display: block;
	margin: 0 auto;
	text-align: center;
	width: 60%;
}

#settings-container {
	margin-top: 30px;
	margin-bottom: 30px;
	font-size:12px;
}

#title-text {
	font-size: 30px;
	margin-bottom: 20px;
  	text-align: center;
}

#description {
	font-size:12px;
  	text-align: justify;
}

input[type=text] {
	width:20%;
	margin-left:5%;
	margin-right:5%;
}

body {
  	background-color: white;
  	font-family:futura;
}

#results-container {
	margin-top: 20px;
	margin-bottom: 20px;
  	text-align: justify;
}

#results-text {
	background-color: #d6f3ff;
	border-radius: 5px;
	padding: 10px;
}

#result {
  	font-size: 16px;
}

.description {
	color: #4dcbf9;
}

hr {
	background-color: #4dcbf9;
	color: #4dcbf9;
	border: 0 none;
	height: 1px;
}

a {
	color: #adadad;
	font-style: italic;
	text-decoration: underline;
}

textarea {
	width: 90%;
	height: 30vh;
	border-radius: 5px;
	border-color: #dbdbdb;
	padding: 10px;
	margin:10px;
}

#calculate {
    margin-top:10px;
    margin-bottom:10px;
}

#filepathbox, #pdf {
	margin-top: 20px;
	margin-bottom:10px;
}

