<!DOCTYPE html>
<html>
<head>
	<title>Text Summarizer</title>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main.css') }}">
</head>
<body>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<div id="heading-container">

		<div id="title-text">Welcome!</div>

		<div id="description"> Here is a description of our product. Here is a description of our product. Here is a description of our product. Here is a description of our product. Here is a description of our product. Here is a description of our product.  </div>

	</div>

	<textarea id="textbox" placeholder="Paste text here"></textarea>

	<button type="button" id="calculate">>Generate Summary</button>

	<script src="{{url_for('static', filename='javascript/main.js')}}"></script>
	<span id="result">?</span>
	<!--
	<p>
	  <input type="text" size="5" name="a"> +
	  <input type="text" size="5" name="b"> =
	  <span id="result">?</span>
	<p><a href=# id="calculate">calculate server side</a>
	-->
</body>
</html>
